
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="true" class="sidenav" [ngClass]="{ expanded: isExpanded }">
      <div class="d-flex w-100">
         <mat-toolbar color="primary">Menu</mat-toolbar>
            <div>
              <button mat-icon-button class="d-block d-md-none" (click)="toggleSideMenu()"><mat-icon>cancel</mat-icon></button>
            </div>

      </div>

    <app-leftsidebar></app-leftsidebar>
  </mat-sidenav>

 <mat-sidenav-content class="position-relative">
  <div class="container-fluid">
       <mat-toolbar color="primary  d-flex  ">
        <h2 class="py-2 flex-grow-1 sub_title ">Auditor Findings</h2>

      <button mat-icon-button><mat-icon>notifications</mat-icon></button>
      <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
          <span><button class="d-block d-md-none" mat-icon-button (click)="toggleSideMenu()"><mat-icon  >menu</mat-icon></button></span>

    </mat-toolbar>
<section class="findings-container">

  <div class="col-md-12 d-flex flex-row">
              <p class=" flex-grow-1" >Add auditor findings .</p>
               <button   class="btn-save"  (click)="goToNewFinding()">
  <mat-icon>
add
</mat-icon> New Finding
</button>

            </div>

  @if (loading()) {
  <p class="text-muted text-center">Loading findings...</p>
  }

  @if (!loading() && findings().length === 0) {
  <p class="text-muted text-center">No findings recorded.</p>
  }

  <table *ngIf="findings().length > 0" class="table-findings">
    <thead>
      <tr>
        <th>Audit ID</th>
        <th>Findings Type</th>
        <th>Severity</th>
        <th>Status</th>
        <th>Created On</th>
        <th>Synced</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let f of findings()">
        <td data-label="Audit ID">
          {{ f.auditId }}
        </td>

        <td data-label="Finding Type">
          {{ f.findingsType }}
        </td>

        <td data-label="Severity">
          {{ f.severity }}
        </td>

        <td data-label="Status">
          {{ f.status }}
        </td>

        <td data-label="Created On">
          {{ f.createdOn | date:'short' }}
        </td>

        <td data-label="Synced">
          <span [class.synced]="f.isSynced">
            {{ f.isSynced ? '✔' : '⏳' }}
          </span>
        </td>
        <td>
          <button type="button" class="btnClose"  (click)="removeFindings(f.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</section>

<!-- Floating Action Button -->
<!-- <button type="button" class="newBtn" (click)="goToNewFinding()">
  + New Finding
</button> -->
</div>
</mat-sidenav-content>
