 <mat-nav-list>
      <a mat-list-item class=" sidebaritem"  (click)="auditDashboard()" ><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a mat-list-item class=" sidebaritem" (click)="auditType()"  ><mat-icon>settings</mat-icon> Audit Types</a>
      <a mat-list-item  class=" sidebaritem"><mat-icon>group</mat-icon> Auditors</a>
      <a mat-list-item  class=" sidebaritem"><mat-icon>playlist_add_check</mat-icon> Checklist</a>
      <a mat-list-item  class=" sidebaritem"><mat-icon>event</mat-icon> Schedules</a>
    </mat-nav-list>
