<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <app-leftsidebar></app-leftsidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-fluid">
       <mat-toolbar color="primary  d-flex  ">
        <h2 class="py-2 flex-grow-1 sub_title ">Audit Types</h2>
       <span class="spacer"></span>
      <button mat-icon-button><mat-icon>notifications</mat-icon></button>
      <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
    </mat-toolbar>


    <div class="dashboard-content">
       <div class="container-fluid">
        <div class="row py-2">
          <div class="row">
             <div class="col-md-12">
        <p>Global audit overview for the current financial quarter.</p>

             </div>
          </div>


      </div>
      <div class="row">


      </div>
       </div>


    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
